<p>
  Hi guys how are you. Are you learning Angular??? :)
</p>
<label>Do you know any frontend framwork?</label>
<br>
<!-- <input [(ngModel)]="inputText" type="text">
<br>
<h2>{{inputText}}</h2>
<br>
<h2>{{inputText | uppercase}}</h2>
<br>
<h2>{{inputText | lowercase}}</h2>
<br>
<h2>{{inputText | titlecase}}</h2>
<br>
<h2>{{inputText | slice:3}}</h2> -->

<!-- <h1>Structural Directive</h1>
<button (click)="onClick()">{{btnContent}}</button>
<h2 *ngIf="isChecked">Aditya</h2> -->

<h1>Now working on Angular Service</h1>
  <div *ngFor="let employee of employees">
    <span>{{employee.id}} - {{employee.name}}</span>
    <span style="margin-left: 40px;">{{employee.skill}}</span>
  </div>